@model Web_Music_v3.Models.User
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Music</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Auth/siteAuth.css" asp-append-version="true" />
</head>

<body>
    <div class="auth">
        <div class="window">
            <div class="logoauth__title">
                <div>АВТОРИЗАЦИЯ</div>
            </div>
            <form method="get" asp-controller="User">
                <input asp-for="Login" type="text" class="input__data" runat="server" placeholder="Логин" required>                
                <input asp-for="Password" type="password" class="input__data" placeholder="Пароль" required>
                <p style="color:red">@Html.ValidationMessage("error")</p>

                <div class="btn">
                    <input asp-action="Select" type="submit" value="Вход" class="btn__entrance" />
                    <input asp-action="CreateView" type="submit" value="Регистрация" class="btn__entrance" formnovalidate />
                    <input asp-action="GetEmailView" type="submit" value="Забыл пароль" class="btn__entrance" formnovalidate />
                </div>
            </form>
        </div>
    </div>
</body>
</html>
