@model Web_Music_v3.Models.User
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Music</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Auth/siteCreate.css" asp-append-version="true" />
</head>

<body>
    <form method="post" asp-controller="User">
        <div class="auth">
            <div class="window">
                <div class="logoreg__title">
                    <div>РЕГИСТРАЦИЯ</div>
                </div>

                <div>
                    <input asp-for="Login" type="text" class="input__data" placeholder="Логин" required>
                    <p style="color:red"></p>
                    <input asp-for="Password" type="password" class="input__data" placeholder="Пароль" required>

                    <input asp-for="Email" type="email" class="input__data" placeholder="Почта" required>
                    <p style="color:red">@Html.ValidationMessage("error")</p>
                </div>
                <div class="btn">
                    <input asp-action="Create" type="submit" value="Зарегистрироваться" class="btn__entrance" />
                    <input asp-action="Auth" type="submit" value="Назад" class="btn__entrance" formnovalidate />
                </div>
            </div>
        </div>
    </form>    
</body>
</html>

